.container {
  background-color: white;
  border-width: 0px 1px;
  max-width: 700px;
  min-height: 100vh;
  margin: 10px auto;
  padding: 4rem;

  /* card effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
  border-radius: 1%;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding: 0.5em;
}
